.link {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  padding-right: .5rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1.5em;
  &:hover {
    color: var(--textcolor-primary-soft);
  }
}

.description {
  font-size: .9rem;
  line-height: 1.2rem;
  letter-spacing: unset;
}

