.ul {
  list-style-type: none;
  padding-left: 0;
}

.li {
  padding: 1rem 0.5rem;
  display: flex;
  place-items: center;
  border-radius: var(--border-radius-default);
  transition: var(--transition-default);
  &:hover {
    background-color: #f2f2f2;
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  display: block;
  &:hover {
    color: var(--textcolor-primary-soft);
  }
}

.time {
  color: var(--textcolor-primary-soft);
  font-size: 0.9rem;
  min-width: 50px;
  margin-right: 1rem;
  text-transform: uppercase;
}
