.footer {
  margin: 1rem auto 0;
  position: relative;
}

.socialmedia, .madeby {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.link {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--textcolor-primary);
  &:hover {
    color: var(--textcolor-primary-soft);
  }
}

.madeby {
}