.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-radius-default);
  border: none;
  cursor: pointer;  
  background-color: transparent;
}

.icon {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color:#777;
  position: relative;
  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background-color: #777;
    transition: var(--transition-menu);
  }
  &::before {
    top: .5rem;
  }
  &::after {
    top: -.5rem;
  }
  &Open {
    height: 0;
    &::before, &::after {
      top: 0;
      transform: rotate(-135deg);
    }
    &::after {
      transform: rotate(135deg);
    }
  }
}