.container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.gradient {
  display: block;
  font-size: 4rem;
  background: #f94;
  background-image: linear-gradient(to bottom right,rgb(255, 153, 68) 16%,rgb(255, 205, 66) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  &::selection {
    -webkit-text-fill-color: #fff;
  }
}

.bio {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1rem 0;
}

.img_container {
  min-width: 225px;
  border-radius: 10rem;
  overflow: hidden;
}

.background {
  z-index: -1;
}

.button {
  padding: .4rem;
  border-radius: .5rem;
  transition: background-color .3s, color .3s;
  background-color: rgba(152, 157, 163, .7);
  color: #fff;
  &:hover {
    background-color: rgba(152, 157, 163, 0.05);
    text-decoration: underline;
    color: inherit;
  }
}