:root {
  --color-primary: #f94;
  --color-secondary: #fc3;
  --color-white: #fff;
  --textcolor-primary: #456;
  --textcolor-primary-soft: rgba(75, 85, 99, .8);
  --button-primary: #99a;
  --button-secondary: #eee;
  --border-default: #99a;
  --border-radius-default: 3px;
  --transition-default: all ease-in 0.15s;
  --transition-menu: all ease-in 0.3s;
  --theme-ui-colors-toggleIcon: #aaa;
  --box-shadow: 0 0 30px rgba(0,0,0,0.12);
  // --spacing-default: 16px;
  // --spacing-small: 8px;
  // --spacing-large: 32px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--textcolor-primary);
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: var(--color-primary);
  color:  var(--color-white);
}

h1 {
  font-size: 3rem;
}

em, strong {
  color: #6a51e6;
}

code {
  color: var(--textcolor-primary-soft);
  font-weight: 700;
}

p {
  line-height: 1.9rem;
}

p a {
  color: #6a51e6;
  &:hover {
    color: #c4b9fe;
  }
}