.title {
  font-size: 3em;
}

.gradient {
  background: rgb(255, 153, 68);
  background-image: linear-gradient(to bottom right,rgb(255, 153, 68) 16%,rgb(255, 205, 66) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  &::selection {
    -webkit-text-fill-color: #fff;
  }
}

.bio {
  font-size: 1.2em;
  line-height: 1.5em;
}