.title {
  font-size: 3em;
}

.gradient {
  background: rgb(0,119,255);
  background: linear-gradient(
    90deg, 
  rgba(0,119,255,1) 0%, 
  rgba(32,85,204,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
}

.bio {
  font-size: 1.2em;
  line-height: 1.5em;
}