.link {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  padding-right: .5rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1.5em;
  &:hover {
    color: rgba(75, 85, 99, .8);
  }
}

