.mobileBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  list-style-type: none;
  padding: 0;
  text-align: right;
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--color-white);
  transition: var(--transition-default);
  &Item {
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem;
    color: var(--textcolor-primary);
    &:hover {
      color: var(--textcolor-primary-soft);
      background-color: var(--button-secondary);
    }
  }
  &Open {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .mobileBar {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    background-color: inherit;
    opacity: 1;
    position: relative;
  }
}